doctype html
html
  head
    title="Codium: Become 1337"
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    link(rel="stylesheet", href="/stylesheets/new-story.css")
    link(rel="stylesheet", href="/stylesheets/signup.css")
    link(rel="stylesheet", href="/stylesheets/story-delete.css")
    link(rel="stylesheet", href="/stylesheets/story-edit.css")
    link(rel="stylesheet", href="/stylesheets/story-form-field.css")
    link(rel="stylesheet", href="/stylesheets/story.css")
  body
    nav(class='navbar')
      a(class="codiumTextTitle" href='/') CODIUM
      a(class='navbar-logo-link' href='/')
      h1(class="Codium-header")
      div(class='navbar-top-right-container' )
        if locals.authenticated
          span(class='navbar-user-welcomer') Welcome #{user.firstName} #{user.lastName}!
          form(class='form-inline pr-4' action='/users/logout' method='post')
            div(class="logout-btn")
            button(class='btn btn-sm btn-warning' type='submit') Logout
        else
          span(class='navbar-new-user-welcomer')
            a(class='btn login-btn' href='/users/login') Login
            a(class='btn signup-btn' href='/users/signup') Sign Up
    div.container
      h2(class='py-4') #{title}
      block content

      block footer
        footer.footerbar
          div.githubLogo
          div(class="githubLinks")
            img(src="https://api.iconify.design/codicon/github-inverted.svg?color=white" alt="GitHub Icon" class="github")
            a(href="https://github.com/hgerdes" class="Harrison") Harrison Gerdes
            a(href="https://github.com/noahSharretts" class="Noah") Noah Sharretts
            a(href="https://github.com/Andrewcodes12" class="Andrew") Andrew Fava
        script(src="/javascripts/index.js" type="module" defer)
