extends layout.pug


block content
  p
  form(action='/users/login/demoUser' method='post')
    div(class='demoBtn')
      button(type='submit' class='btn btn-demo') Demo User
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='form-group')
      label(for='email') Email
      input(type='text' id='Email' name='email' value=email class='user-email-input' required)
    div(class='form-group')
      label(for='password') Password
      input(type='text' id='Password' name='password' value=null class='user-password-input' required)
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Login
      a(href='/' class='btn btn-warning ml-2') Cancel
  div
    p: a(href='/users/signup' class="signup") Don't have an account?
