extend layout.pug

block content
  if errors
    ul
      each error in errors
        li= error
  h2 New Story
  form(method="post" action="/stories/new")
    input(type="hidden" name="_csrf" value=csrfToken)
    div
      label(for="title") Title
      input(type="text" name="title" required)
    div
      label(for="subTitle") Subtitle
      input(type="text" name="subTitle" required)
    div
      label(for="body") Body
      textarea(name="body")
    div
      label(for="topic") Topic
      select(name="topic" required)
        each topic in topics
          option(value=topic.id)= topic.name
    div
      button(type="submit") Submit
