extends layout.pug

block content
  if errors
    ul
      each error in errors
        li= error
  h2 New Story
  form(method="post" action="/stories/new")
    input(type="hidden" name="_csrf" value=csrfToken)
    div.title
      label(for="title") Title
      input(type="text" name="title" required)
    div.subtitle
      label(for="subtitle") subtitle
      input(type="text" name="subtitle" required)
    div.body
      label(for="body") Body
      textarea(name="body")
    div.topic
      label(for="topic") Topic
      select(name="topic" required)
        each topic in topics
          option(value=topic.id)= topic.name
    div.submit
      button(type="submit") Submit
