
include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Title', 'title', story.title)
+field('subtitle', 'subtitle', story.subtitle)
+field('body', 'body', story.body)
label(for="topic") Topic
 
