
include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Title', 'title', story.title)
+field('subtitle', 'subtitle', story.subtitle)
+field('body', 'body', story.body)

    select(name="topic" required)
    label(for="topic") Topic
        each topic in topics
            option(value=topic.id)= topic.name
