extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    form(action=`/` method='put')
        include story-form-field.pug
        div(class='editor')
            button(type-'submit' class='editor button') Update Story
            a(href='/' class='redirect') cancel
