body {
    background: rgb(67,82,64);
background: radial-gradient(circle, rgba(67,82,64,1) 0%, rgba(0,0,0,1) 100%);
    color: limegreen;
    font-family: Unispace;
}


.github {
    max-width: 100%;
    height: 50px;
}

.container {
}

.logout-btn{
    margin-top: -11px;
}

.footerbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:black;
    border-top: 3px solid gray;
}

.navbar {
    margin-top: -20px;
    position: fixed;
    box-sizing: border-box;
    border-bottom: 3px solid gray;
    background-color: black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-top-right-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 24px;
}

.btn-warning {
}

.navbar-logo-img {
    padding-top: 15px;
    margin-left: 20px;
}

.navbar-user-welcomer {
    font-family: Unispace;
    font-size: 16px;
    margin-top: 5px;
    color: gainsboro;
    text-shadow:
    0 0 1px #fff,
    0 0 3px #fff;
}

.navbar-nav {
    padding: 3px;
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: limegreen;
    font-family: Unispace;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    color: black;
}

.form-inline {

}

.logo{

}
