body {
    background: black;
    color: limegreen;
}

pr-4 {
}

.github {
    max-width: 100%;
    height: 50px;
}

.container {
}


.footerbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
}

.navbar {
    margin-top: -20px;
    position: fixed;
    box-sizing: border-box;
    border-bottom: 3px solid gray;
    background-color: black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-top-right-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 24px;
}

.navbar-logo-img {
    padding-top: 15px;
    margin-left: 20px;
}

.navbar-user-welcomer {
    font-family: Unispace;
}

.navbar-nav {
    padding: 3px;
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: limegreen;
    font-family: Unispace;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    color: black;
}

.btn-warning {

}

.logo{

}
