* {
    box-sizing: border-box;
}

.storyAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.story-title {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 40px;
    font-family: "checkbookregular";
    color: lime;
    letter-spacing: 4px;
    text-shadow: 0 0 1px lime, 0 0 4px lime, 0 0 28px lime;
}

.editSub{
    display: flex;
    justify-content: left;
    font-size: 30px;
    margin: inherit;
    margin-top: -35px;
    color: white;
    letter-spacing: 3px;
    text-shadow:
    0 0 1px #fff,
    0 0 8px #fff;
}

.story-topic {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -55px;
}

.story-topic > * {
    font-family: "checkbookregular";
    font-size: 25px;
    letter-spacing: 4px;
}

.topicName {
    margin-right: 30%;
    color: white;
    text-shadow:
    0 0 0px #fff,
    0 0 12px #fff;
}

.userAndDate {
    display: flex;
    gap: 40px;
    justify-content: row;
    margin-left: 60px;
}

.editUserName {
    color: lime;
    font-size: 28px;
}

.editTopicName {
    margin-top: 40px;
}

.editDate {
    margin-top: 50px;
}

.storyBodyDiv{
    text-align: left;
    padding-left: 15px;
    background-color:  rgba(0, 0, 0, 0.4);
    background-size: 20% 3px;
    z-index: 2;
    pointer-events: none;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
}

.storyBody{
    font-family: "C64 Pro";
    color: lime;
    text-shadow: 0 0 1px lime, 0 0 14px lime;
    font-size: 20px;
    letter-spacing: 2px;
    direction: ltr;
}

.delEditAddBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delEditAddBtns > * {
    text-align: center;
    width: 190px;
    margin-bottom: 20px;
}

#editBtn {
    background-color: lime;
    font-size: 15px;
    box-shadow: 0px 0px 10px 3px limegreen;
    text-decoration: none;
    font-family: "C64 Pro";
}

#editBtn:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

#delBtn {
    background-color: lime;
    font-size: 15px;
    box-shadow: 0px 0px 10px 3px limegreen;
    text-decoration: none;
    font-family: "C64 Pro";
}

#delBtn:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

.likesBox {
    display: flex;
    margin-top: 5px;
    height: 27px;
    justify-content: center;
    text-align: center;
}

#likes-box {
    font-size: 15px;
    font-family: "C64 Pro";
    width: auto;
    background-color: lime;
    border: none;
    box-shadow: 0px 0px 10px 3px limegreen;
}

#likes-box:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

.commentContainer {
    padding-bottom: 90px;
}

.commentHeader{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.commentContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.commentBoxForm {
    display: flex;
    justify-content: center;
}

.user-comment-input{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color:  rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(119, 255, 85);
    color: rgb(255,255,255);
    resize: none;
}

.submitButton {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#submitBtn{
    background-color: rgb(139, 248, 139);
    width: 90px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px  rgb(139, 248, 139);
    text-decoration: none;
    font-family: "C64 Pro";
    border: none;
}

#submitBtn:hover{
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}



.comments {
    text-align: center;
    vertical-align: middle;
    background-size: 20% 3px;
    z-index: 2;
    padding-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}





.comment-date{
    display: flex;
    position: absolute;
}

.commentBody{
    text-align: left;
    padding-left: 15px;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 20% 3px;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}



.commentButtons {
    font-family: "C64 Pro";
    margin-top: 60px;

}

.comment-date {
    margin-left: 100px;
}

.commentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-be;
    margin-left: 20%;
    margin-right: 20%;
    gap: 10px;
}
