* {
    box-sizing: border-box;
}

.story-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "checkbookregular";
    color: lime;
    letter-spacing: 4px;
    text-shadow: 0 0 1px lime, 0 0 4px lime, 0 0 28px lime;
}

.editSub{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: inherit;
    margin-top: -35px;
    color: white;
    letter-spacing: 3px;
    text-shadow:
    0 0 1px #fff,
    0 0 8px #fff;
}

.story-topic {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.story-topic > * {
    font-family: "checkbookregular";
    margin: inherit;
    font-size: 25px;
    letter-spacing: 4px;
    margin-left: 20px;
    margin-right: 20px;
}


.storyBodyDiv{
    text-align: left;
    padding-left: 15px;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 20% 3px;
    z-index: 2;
    pointer-events: none;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
}

.storyBody{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    direction: ltr;
}

.delEditAddBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delEditAddBtns > * {
    text-align: center;
    width: 190px;
    margin-bottom: 20px;
}

#editBtn {
    background-color: lime;
    font-size: 15px;
    box-shadow: 0px 0px 10px 3px limegreen;
    text-decoration: none;
    font-family: "C64 Pro";
}

#editBtn:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

#delBtn {
    background-color: lime;
    font-size: 15px;
    box-shadow: 0px 0px 10px 3px limegreen;
    text-decoration: none;
    font-family: "C64 Pro";
}

#delBtn:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

.likesBox {
    display: flex;
    margin-top: 5px;
    height: 27px;
    justify-content: center;
    text-align: center;
}

#likes-box {
    font-size: 15px;
    font-family: "C64 Pro";
    width: auto;
    background-color: lime;
    border: none;
    box-shadow: 0px 0px 10px 3px limegreen;
}

#likes-box:hover {
    transition-duration: .2s;
    background-color: gainsboro;
    box-shadow: 0 0 10px 3px gainsboro;
}

.commentHeader{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.commentContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.commentBoxForm {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.user-comment-input{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color:  rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(119, 255, 85);
    color: rgb(255,255,255);
    resize: none;
}

#submitBtn{
    font-size: 15px;
    background-color: lime;
    transition-duration:.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitBtn:hover{
    background-color:rgb(119, 255, 85);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.commentList{

}

.comments {
    text-align: center;
    vertical-align: middle;
    background-size: 20% 3px;
    z-index: 2;
    padding-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.commenterName{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.commenter-first-name{

}

.commenter-last-name{

}

.comment-date{
    display: flex;
    position: absolute;
}

.commentBody{
    text-align: left;
    padding-left: 15px;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 20% 3px;
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}

.commentContent{

}

.commentButtons {
    font-family: "C64 Pro";
}
