@font-face {
    font-family: 'checkbookregular';
    src: url('/fonts/checkbook/checkbk0-webfont.woff2') format('woff2'),
        url('/fonts/checkbook/checkbk0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.editPageContainer {
    display: flex;
    justify-content: center;
}

.editTitle {
    font-family: "checkbookregular";
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-shadow: 0 0 1px rgb(119, 255, 85), 0 0 6px rgb(72, 228, 92);
}


.editSubTitle {
    font-family: "checkbookregular";
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-shadow: 0 0 1px rgb(119, 255, 85), 0 0 6px rgb(72, 228, 92);
    margin-right: 40px;
}

.editText {
    font-family: "checkbookregular";
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-shadow: 0 0 1px rgb(119, 255, 85), 0 0 6px rgb(72, 228, 92);
}


.editTopic {
    font-family: "checkbookregular";
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-shadow: 0 0 1px rgb(119, 255, 85), 0 0 6px rgb(72, 228, 92);
}

input {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(119, 255, 85);
    color: rgb(255, 255, 255);
    font-family: "Unispace";
}


textarea {
    font-family: "C64 Pro";
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(119, 255, 85);
    color: rgb(255, 255, 255);
    resize: none;
}

select {
    width: 15%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(119, 255, 85);
}

.editor {
    display: flex;
    justify-content: center;
    gap: 20px;
}


#updBtn {
    font-size: 15px;
    font-family: "C64 Pro";
    border: none;
    background-color: lime;
    text-transform: uppercase;
    transition-duration: .4s;
    box-shadow: 0 0 10px 03px lime;
    text-decoration: none;
}

#updBtn:hover {
    background-color: gainsboro;
    box-shadow: 0 0 10px 03px gainsboro;
}

#cclBtn {
    font-size: 15px;
    font-family: "C64 Pro";
    border: none;
    background-color: lime;
    text-transform: uppercase;
    transition-duration: .4s;
    box-shadow: 0 0 10px 03px lime;
    color: black;
    text-decoration: none;
}

#cclBtn:hover {
    background-color: gainsboro;
    box-shadow: 0 0 10px 03px gainsboro;
}
